<h2 class="text-center mt-4">Show Details</h2>

<div class="justify-content-center mt-4">
  <div class="card shadow mb-3">
    <div class="card-body">      
      
      <p class="card-title"><strong>Show Date : </strong><%= @show.show_date %></p>
      <p class="card-title"><strong>Show Time : </strong><%= @show.show_time.strftime("%H:%M") %></p>
      <p class="card-title"><strong>Show Price : </strong><%= number_to_currency(@show.show_price) %></p>
      <p class="card-title"><strong>Theater Name : </strong><%= @show.theater.theater_name %></p>
      <%= link_to 'Edit', edit_movie_show_path(@movie,@show), class: "text-decoration-none btn btn-dark" %>
      <%= button_to 'Delete', movie_show_path(@movie,@show), method: :delete, data: { confirm: "Are you sure you want to delete?" }, class: "btn btn-danger" %>
      <p class="card-text"><%= link_to 'Back', { controller: 'movies', action: 'index'}, class: "btn btn-primary" %></p>
    </div>
  </div>
</div>
<div class="col-lg-4 mt-4">
</div>
